@model PersonViewModel
@{
    ViewData["Title"] = "Person";
}

<div class="d-flex flex-column">
    <div class="d-flex justify-content-center">
        <h1 class="display-4 mb-5">Person</h1>
    </div>
    <div class="d-flex justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col font-weight-bold text-right pr-2">@Html.LabelFor(x => x.FirstName):</div>
                <div class="col">@Html.DisplayFor(x => x.FirstName)</div>
                <div class="w-100"></div>
                <div class="col font-weight-bold text-right pr-2">@Html.LabelFor(x => x.LastName):</div>
                <div class="col">@Html.DisplayFor(x => x.LastName)</div>
                <div class="w-100"></div>
                <div class="col font-weight-bold text-right pr-2">@Html.LabelFor(x => x.BirthDate):</div>
                <div class="col">@Html.DisplayFor(x => x.BirthDate)</div>
                <div class="w-100"></div>
                <div class="col font-weight-bold text-right pr-2">@Html.LabelFor(x => x.Email):</div>
                <div class="col"> @Html.DisplayFor(x => x.Email)</div>
            </div>
        </div>
    </div>
</div>
