@model PersonsListViewModel
@{
    ViewData["Title"] = "Persons";
}

<h1 class="display-4 mb-5">Persons</h1>

<div class="persons text-left">
    @using (Html.BeginForm("ListPersonsForm", "Home", FormMethod.Post, new { @id = "form", novalidate = "true" }))
    {
        <input type="hidden" name="PageNumber" value="@Model.Page.PageNumber" />
        <input type="hidden" name="TotalPages" value="@Model.Page.TotalPages" />
        <input type="hidden" name="PageIndex" value="@Model.Page.PageIndex" />
        <input type="hidden" name="PagerSize" value="@Model.Page.PagerSize" />
        <input type="hidden" name="SortColumn" value="@Model.Page.SortColumn" />
        <input type="hidden" name="SortOrder" value="@Model.Page.SortOrder" />

        <div class="mb-3">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th data-column="1">First Name</th>
                        <th data-column="2">Last Name</th>
                        <th data-column="3">Birth Date</th>
                        <th data-column="4">Email</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Persons)
                    {
                        @Html.DisplayFor(x => item)
                    }
                </tbody>
            </table>
        </div>
        {
            await Html.RenderPartialAsync("Pager", Model.Page);
        }
    }
</div>


@section Scripts {
    <script type="module" src="~/js/persons.js"></script>
}